
/*navigation*/

.navbar {
  text-transform: uppercase;
  padding: 0rem;
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  font-family: "Jost";
}

.nav-item {
  text-transform: uppercase;
  padding: 0rem 1.2rem
}

.active {
  border-bottom: 9px solid #2E986A;
  color: #2E986A;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #2E986A;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #2E986A;
}

.navbar-light .navbar-nav .nav-link {
  color: #131313;
}

.dropdown-menu {
  margin: 0rem;
  text-transform: lowercase;
  min-width: 5rem;
}

/*galeria*/

#sidebar {
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  font-family: "Jost";
  text-align: center;
}
