/*general styles*/

body {
  font-family: "Jost";
}

h1 {
text-transform: uppercase;
}

/*navigation*/

.navbar {
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  padding: 0;
  background-color: white;
}

.nav-item {
  text-transform: uppercase;
  padding: 0 1.2rem
}

.active {
  border-bottom: 9px solid #2E986A;
  color: #2E986A;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #2E986A;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #2E986A;
}

.navbar-light .navbar-nav .nav-link {
  color: #131313;
}

.dropdown-menu {
  margin: 0;
  text-transform: lowercase;
  min-width: 5rem;
}

/*galeria*/

#gallery-content {
  height: calc(100vh - 50px);
}

#sidebar {
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  height: calc(100vh - 50px);
  background-color: white;
  text-transform: uppercase;
  text-align: center;
}

#sidebar a:hover {
  color: #2e986a;
  text-decoration: none;
}

#sidebar .option {
color: #202020;
font-weight: bold;
text-align: center;
}

#mobile-navigation .option {
  color: #202020;
  text-align: center;
  font-size: 1em;
}

#mobile-navigation {
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
}


#gallery-text > h1 {
  padding: 5px 10px;
  box-shadow: inset 0 -30px 0 0 rgba(46, 152, 106, 0.6);
  text-align: center;
  font-weight: bolder;
}

/*homepage*/

.mainbg {
  background-image: url("/static/images/header-bg.jpg");
  background-position: center;
  width:100%;
  height: auto;
  overflow: hidden;
  position: relative;
  background-size: cover;
  clip-path: polygon(0 0, 3600px 0, 3600px 92%, 0 100%);
  margin-bottom: 100px;
  max-width:100%;
  max-height:100%;
}

.maintext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;

}
.maintext p {
	font-weight: 700;
	font-size: 5em;
	margin-bottom: -10px;
}

.gradient {
  background: rgb(154,203,96);
  background: -moz-linear-gradient(0deg, rgba(154,203,96,1) 0%, rgba(109,204,226,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(154,203,96,1) 0%, rgba(109,204,226,1) 100%);
  background: linear-gradient(0deg, rgba(154,203,96,1) 0%, rgba(109,204,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9acb60",endColorstr="#6dcce2",GradientType=1);
  height: 100vh;
  position: relative;
  opacity: 0.5;
  width: auto;
  max-width:100%;
  max-height:100%;
}

.line {
  transform: skewY(3deg);
  background-color: #2E986A;
  width: 100%;
  position: absolute;
  z-index: 1;	
}

.square {
  transform: skewY(-3deg);
  position: relative;
  box-sizing: border-box;
  z-index: 2;
  margin-left: 40px;
  margin-right: 40px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
  height: auto;
  padding: 30px;
  text-align:center;
}

.square h1 {
	font-size: 10vmin;
}

/*contact page*/

#contact-container > h1 {
  font-weight: bold;
}

.contact-details {
  align-items: center;
  align-content: center;
  background-color: gainsboro; /*for testing*/
  margin-top: 1em;
  margin-bottom: 1em;
  flex-shrink: 2;
}

.contact-icon {
  text-align: right;
}

.contact-icon span { /*icon size*/
  font-size: 3.5em;
  color: #2E986A;
}

.contact-title {
  font-weight: bold;
}

.contact-text {
  font-size: 1.2em;
}

.contact-text p {
  margin-bottom: 0; 
}

#contact-social {
  text-align: center;
}


#contact-container {
  background-color: rgb(141, 141, 141); /*for testing*/
  height: calc(100vh - 50px);
}

#map-container {
  background-color: white; /*for testing*/
  height: calc(100vh - 50px);
}
