{% extends "templatemain.html" %}
{% block content %}
<div class="row mx-0" id="gallery">
  <!--Hidden in mobile devices-->
  <div class="d-none d-lg-flex col-2 flex-column justify-content-center" id="sidebar" role="navigation">
      <a class="option py-3" href="#branding">Branding & Design</a>
      <a class="option py-3" href="#nadruki">Nadruki</a>
      <a class="option py-3" href="#farby">Farby do drukarek dtg</a>
  </div><!--sidebar-->

  <nav class="d-lg-none d-flex navbar navbar-expand fixed-bottom" id="mobile-navigation" role="navigation" >
  <!--Hidden in large screens-->
    <a class="option py-3" href="#branding">Branding & Design</a>
    <a class="option py-3" href="#nadruki">Nadruki</a>
    <a class="option py-3" href="#farby">Farby do drukarek dtg</a>
  </nav>

  <div class="col-lg-10 d-flex flex-column justify-content-center" id="gallery-content">
    <div class="row">
      <div class="col-lg-5" id="gallery-image">
        <img src="static\images\placeholder.png" class="img-fluid rounded">
      </div><!--image-->

      <div class="col-lg-7 d-flex flex-column justify-content-center px-3" id="gallery-text">
      <h1>Branding & Design</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rutrum molestie felis id dictum. Integer eget quam quis leo bibendum consectetur. Nullam viverra urna in nibh pharetra lobortis. Suspendisse ac leo turpis. Integer ornare nunc sem. Sed faucibus tortor at feugiat pharetra.</p>
      </div><!--right text-->
    </div><!--row-->
  </div><!--gallery content-->
</div><!--gallery-->
{% endblock %}