{% extends "templatemain.html" %}
{% block content %}
<div class="mainbg container-fluid p-0">
    <div class="gradient"></div>
          <div class="maintext">
              <p>D.P. COLOR</p>
              Unikatowe koszulki, odzież firmowa, gadżety reklamowe, indywidualne nadruki.</br>
              Zaufana firma z wieloletnim doświadczeniem. 
          </div>
          
    </div>
    
    <div class="line">
      <div class="square">
      <h1>D.P. COLOR</h1>
       In hac habitasse platea dictumst. Curabitur tellus lacus, lobortis id luctus sed, aliquam nec velit. Proin consectetur placerat neque a lobortis. Proin quis sodales ipsum, quis scelerisque risus. Morbi ligula nisl, aliquet ut luctus nec, congue eu tortor. Vestibulum at mi suscipit, rhoncus sem nec, aliquam lorem. Cras vel vehicula massa, ut suscipit nisi. Aenean commodo erat in justo varius mollis. Aliquam erat volutpat. Nunc imperdiet, turpis nec eleifend feugiat, nibh odio consectetur tortor, facilisis tincidunt tellus massa eu ante. Donec luctus orci malesuada diam tempor, eu vehicula felis consequat. Curabitur molestie dui id sodales egestas. Morbi urna magna, convallis non urna quis, egestas scelerisque leo. Sed fermentum pharetra urna vel vehicula. 
            In hac habitasse platea dictumst. Curabitur tellus lacus, lobortis id luctus sed, aliquam nec velit. Proin consectetur placerat neque a lobortis. Proin quis sodales ipsum, quis scelerisque risus. Morbi ligula nisl, aliquet ut luctus nec, congue eu tortor. Vestibulum at mi suscipit, rhoncus sem nec, aliquam lorem. Cras vel vehicula massa, ut suscipit nisi. Aenean commodo erat in justo varius mollis. Aliquam erat volutpat. Nunc imperdiet, turpis nec eleifend feugiat, nibh odio consectetur tortor, facilisis tincidunt tellus massa eu ante. Donec luctus orci malesuada diam tempor, eu vehicula felis consequat. Curabitur molestie dui id sodales egestas. Morbi urna magna, convallis non urna quis, egestas scelerisque leo. Sed fermentum pharetra urna vel vehicula. 
  
      </div>
      </div>
{% endblock %}