{% extends "templatemain.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-5">
			<h1>Technology Solutions</h1>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit vel augue molestie porttitor et sed odio. Ut mattis arcu at orci sagittis lobortis. Mauris commodo tincidunt orci vel condimentum. Nam non lectus ut tellus efficitur facilisis eget at turpis.</p>
			<div class=text-center>
				<a href="#" class="btn btn-primary btn-lg">Learn more</a>
			</div>
			</div><!--hero text-->
			<div class="col-12 col-md-7">
				<img class="img-fluid" src="images/close-up-of-businessman-with-digital-tablet.jpg" alt="Business men looking at graph on an iPad">
			</div>
		</div><!--row-->
	</div><!--hero container-->
</div><!--hero-->

<div class="container mb-5">
	<h2>Our products</h2>
	<div class="row">
		<div class="col-12 col-md-4">
			<div class="card">
				<img src="images/the-technician-repairing-the-computer-computer-hardware-repairing-upgrade-and-technology.jpg" class="card-img-top" alt="">
				<div class="card-body">
					<h3 class="card-title">Services</h3>
					<p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit vel augue molestie porttitor et sed odio.</p>
					<div class=text-center>
						<a href="#" class="btn btn-primary">Learn more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="card">
				<img src="images/futuristic-technology-screen-interface.jpg" class="card-img-top" alt="">
				<div class="card-body">
					<h3 class="card-title">Technology</h3>
					<p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit vel augue molestie porttitor et sed odio.</p>
					<div class=text-center>
						<a href="#" class="btn btn-primary">Learn more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="card">
				<img src="images/young-it-service-man-repairing-computer.jpg" class="card-img-top" alt="">
				<div class="card-body">
					<h3 class="card-title">Our employees</h3>
					<p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit vel augue molestie porttitor et sed odio.</p>
					<div class=text-center>
						<a href="#" class="btn btn-primary">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div><!--row-->
</div>
{% endblock %}