{% extends "templatemain.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-md-5" id="hero-banner">
			<h1 class="text-center text-md-left">Technology Solutions</h1>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit vel augue molestie porttitor et sed odio. Ut mattis arcu at orci sagittis lobortis. Mauris commodo tincidunt orci vel condimentum. Nam non lectus ut tellus efficitur facilisis eget at turpis.</p>
			<div class=text-center>
				<a href="#" class="btn btn-primary btn-lg">Learn more</a>
			</div>
			</div><!--hero text-->
			<div class="col-12 col-md-7 d-none d-md-block">
				<img class="img-fluid" src="static\images\placeholder.png" alt="">
			</div>
		</div><!--row-->
	</div><!--hero container-->
</div><!--hero-->

<div class="container" id="card-container">
	<h2 class="text-center text-md-left">Our products</h2>
	<div class="row">
		<div class="col-12 col-md-4 pb-2">
			<div class="card">
				<img src="static\images\placeholder.png" class="card-img-top" alt="">
				<div class="card-body">
					<h3 class="card-title text-center">Services</h3>
					<p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit vel augue molestie porttitor et sed odio.</p>
					<div class=text-center>
						<a href="#" class="btn btn-primary">Learn more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4 pb-3">
			<div class="card">
				<img src="static\images\placeholder.png" class="card-img-top" alt="">
				<div class="card-body">
					<h3 class="card-title text-center">Technology</h3>
					<p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit vel augue molestie porttitor et sed odio.</p>
					<div class=text-center>
						<a href="#" class="btn btn-primary">Learn more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4 pb-3">
			<div class="card">
				<img src="static\images\placeholder.png" class="card-img-top" alt="">
				<div class="card-body">
					<h3 class="card-title text-center">Our employees</h3>
					<p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit vel augue molestie porttitor et sed odio.</p>
					<div class=text-center>
						<a href="#" class="btn btn-primary">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div><!--row-->
</div>
{% endblock %}