{% extends "templatemain.html" %}
{% block content %}
<div class="row container-fluid px-0 mx-0" id="contact-content">
    <div class="col-xl-6 d-none d-xl-block" id="map-container">
    <!--Hidden in Extra Large viewports-->

    </div><!--map-->

    <div class="col-xl-6" id="contact-container">
        <div class="mx-sm-5 mx-1">

        <h1 class="text-center pt-3">Kontakt</h1>

        <div class="contact-details row">
            <div class="contact-icon col-2">
                <span class="material-icons">home</span>
            </div>

            <div class="contact-text col-10">
                <p class="contact-title">Ostrów Mazowiecka</p>
                <p>ul. Warszawska 22</p>
            </div>
        </div>

        <div class="contact-details row">
            <div class="contact-icon col-2">
                <span class="material-icons">phone</span>
            </div>

            <div class="contact-text col-10">
                <p class="contact-title">535 595 922 | 535 383 100</p>
                <p>Pon-Pt 8-16, Sob 8-12</p>
            </div>
        </div>

        <div class="contact-details row">
            <div class="contact-icon col-2">
                <span class="material-icons">mail</span>
            </div>

            <div class="contact-text col-10">
                <p class="contact-title">dpcolorbiuro@gmail.com</p>
            </div>
        </div>

        <div class="contact-details row">
            <div class="col-6" id="contact-invoice">
                D.P. COLOR Sp. z o.o.
                <br>
                NIP: 5342488817
                <br>
                REGON: 146391071
                <br>
                BDO: 000079088
            </div>

            <div class="col-6" id="contact-social">
                test
                <br>
                test
            </div>

        </div>

        </div>

    </div><!--contact-container-->
</div><!--row-->

{% endblock %}