<!DOCTYPE html>
<!-- For SEO posts only -->
<html>

<head>
    <html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% if title %}
    <title>{{ title }} - D.P. Color</title>
    {% else %}
    <title>D.P. Color</title>
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top my-0">
        <a class="navbar-brand mx-3" href="#">
        <img src="{{ url_for('static', filename='images/logobanner.png') }}" alt="Homepage" title="" height="40"></a>
    </nav>

    <div class="container px-5">
    {% block content %}
    {% endblock %}
    </div>
</body>

</html>