<!DOCTYPE html>
<!-- Inherited to all pages -->
<html>

<head>
    <html lang="pl">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% if title %}
    <title>{{ title }} - D.P. Color</title>
    {% else %}
    <title>D.P. Color</title>
    {% endif %}
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light sticky-top my-0" id="navigation-main">
        <a class="navbar-brand mx-3" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/logobanner.svg') }}" alt="Homepage" title="" height="40"></a>
        <button class="navbar-toggler mx-3" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav my-0 mt-lg-0 ml-auto mx-3">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">O Nas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('galeria') }}">Galeria</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nasze sklepy</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://vipkoszulka.pl/">vipkoszulka.pl</a>
                <a class="dropdown-item" href="https://b2bdtg.pl/">b2bdtg.pl</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('technologie') }}">Technologie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('kontakt') }}">Kontakt</a>
            </li>
          </ul>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
    <footer>
      <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-7">
              <h2>About us</h2>
              <p>Location</p>
              <p>Address</p>
              <p>Phone number</p>
            </div>
    
            <div class="col-12 col-md-5">
              <h2>Follow us</h2>
            </div>
          </div>
        </div>
      </div>
    
      <div class="container-fluid text-center p-2" id="credit-container">
        Images by <a href="https://www.freepik.es/" class="text-left">Freepik</a> |  Design by Dani Ramirez
      </div>
    </footer>
    
</body>

</html>